/*--- GLOBAL VARIABLES ---*/
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #e70013;
    --color-blue: #022b52;
    --color-dark-grey: #a1a8ad;
    --color-light-grey: #ced2d3; 

    --font-family: "visitDenmark" /*font tilføjes*/
}
/*--- GENERAL ---*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-family);
    border: none;
    cursor: pointer;
    height: 33px;
    width: 100px;
}
h1{
    font-family: var(--font-family);
}
/*------------------------------------------------------*/